{% extends "base.html.twig" %}

{% block body %}
    <h2 class="itemNameVideo">{{ item.__toString }}</h2>
    <div class="listItem">
        <a href="{{ path('collectionList') }}">
            {% include '@App/small_image.html.twig' %}
        </a>
        {% include '@App/btn_edit.html.twig' %}
        {% include '@App/btn_video.html.twig' %}
    </div>
    <div class="description">{{ item.descriptionOfficial }}</div>
    <div class="description">{{ item.descriptionMy }}</div>
{% endblock %}